[Unit]
Description=Video Stream Service
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/Streaming
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Streaming/videostream.py -port 8081 -rotate 180 -camera 0 -size 3
Restart=always
[Install]
WantedBy=multi-user.target
